<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<title>Water Management</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" href="/vendors/linericon/style.css">
	<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
	<link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css">
	<!-- main css -->
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

	<!--================ Start Header Area =================-->
	<header class="header_area">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="index.html"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav justify-content-end">
							<li class="nav-item active"><a class="nav-link" href="index">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Web Monitoring</a></li>
							<li class="nav-item"><a class="nav-link" href="Transactions">My Transactions</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Find Tanks</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Tanks</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<!--================ End Header Area =================-->

	<!--================ Start Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="banner_content">
							<h1 class="text-uppercase">Smart Water Grid</h1>
							<h5 class="text-uppercase">A one step solution</h5>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="home_right_img">
							<img class="" src="img/banner/home-right.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->

	<!--================ Start About Us Area =================-->
	<section class="about_area section_gap">
		<div class="container">
			<div class="row justify-content-start align-items-center">
				<div class="col-lg-5">
					<div class="about_img">
						<img class="" src="img/about-us.png" alt="">
					</div>
				</div>

				<div class="offset-lg-1 col-lg-5">
					<div class="main_title text-left">
						<h2>Web Monitoring</h2>
						<p>
							A web based monitoring system that let you keep the track of the amount of water in the tanks and its quality.
						</p>
						<p>
							The smart system sends an e-mail notification when the water purity is low below a certain level indicating that the authorities must take actions.
						</p>
						<a class="primary_btn" href="#"><span>Know More</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End About Us Area =================-->

	<!--================ Start About Us Area =================-->
	<section class="about_area section_gap">
		<div class="container">
			<div class="row justify-content-start align-items-center">
				<div class="col-lg-5">
					<div class="about_img">
						<img class="" src="img/watercurrency.svg" alt="">
					</div>
				</div>

				<div class="offset-lg-1 col-lg-5">
					<div class="main_title text-left">
						<h2>Smart Tanks</h2>
						<p>
							Its time to take care of the environment. Conserve water and sell it. A great way to save earth and also earn money.
						</p>
						<p>
							The smart tanks checks the quantity and purity of the water in the supplier tank  and automatically drains water into the main supply.
						</p>
						<a class="primary_btn" href="#"><span>Know More</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End About Us Area =================-->


	<!--================ Start About Us Area =================-->
	<section class="about_area section_gap">
		<div class="container">
			<div class="row justify-content-start align-items-center">
				<div class="col-lg-5">
					<div class="about_img">
						<img class="" src="img/back.jpg" alt="">
					</div>
				</div>

				<div class="offset-lg-1 col-lg-5">
					<div class="main_title text-left">
						<h2>Secure and Safe Water</h2>
						<p>
							The blockchain implementation wherein every consumption and supply of water is recorded on the Hyperlegder and tokens are redeemed accordingly.
						</p>
						<p>
							The reduced involvement of middlemen and clear transparency assures that you get the puriest water and you only pay for what you consume. Also gives you the opportunity to play a part in water consumption by helping others with the water you saved and earn sideways.
						</p>
						<a class="primary_btn" href="#"><span>Know More</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End About Us Area =================-->

	<!--================ Srart Brand Area =================-->
	<section class="brand_area section_gap_bottom">
		<div class="container">
			<div class="main_title">
				<h2>Find tanks near you </h2>
			</div>
			<div id="map" style="height:500px;width:1100px;align:center;"></div>
			<script>
      var map,infoWindow;
      function initMap() {


        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: new google.maps.LatLng(25.430505, 81.771864),
          mapTypeId: 'roadmap'
        });



        var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
        var icons = {
          tank: {
            icon: 'img/water-tank.png'
          },
          library: {
            icon: iconBase + 'library_maps.png'
          },
          info: {
            icon: iconBase + 'info-i_maps.png'
          }
        };

        var features = [
          {
            position: new google.maps.LatLng(25.432185, 81.770429),
            type: 'tank'
          }, {
            position: new google.maps.LatLng(25.431718, 81.770728),
            type: 'tank'
          }, {
            position: new google.maps.LatLng(25.431398, 81.770685),
            type: 'tank'
          }, {
            position: new google.maps.LatLng(25.428981, 81.772558),
            type: 'tank'
          }, {
            position: new google.maps.LatLng(25.430032, 81.769870),
            type: 'tank'
          }
        ];

				var markers = [
				    {
				        "description": 'Home1 <br><br><a href="Collector">Collector</a> <br><a href="Supplier">Supplier</a>'
				    },
				    {
				        "description": 'Home2 <br><br><a href="Collector">Collector</a> <br><a href="Supplier">Supplier</a>'
				    },
				    {
				        "description": 'Home3'
				    },
				    {
					"description": 'Home4'
				    },
				    {
				        "description": 'Home5'
				    }
				    ];
						var i=0;
						 var infoWindow = new google.maps.InfoWindow();
        // Create markers.
        features.forEach(function(feature) {
          var marker = new google.maps.Marker({
            position: feature.position,
            icon: icons[feature.type].icon,
            map: map
          });
					var data = markers[i];
					i++;
					(function (marker, data) {
                google.maps.event.addListener(marker, "click", function (e) {
                    //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
                    infoWindow.setContent("<div style = 'width:200px;min-height:40px'>" + data.description + "</div>");
                    infoWindow.open(map, marker);
                });
            })(marker, data);
        });


      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyxYNLc8p13eelY8X4vu6fGi0HqOHQ6Eo&callback=initMap">
    </script>
		</div>
	</section>
	<!--================ End Brand Area =================-->

	<!--================ Start Features Area =================-->
	<section class="features_area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="main_title">
						<h2>Tanks</h2>
						<p>
						</p>
					</div>
				</div>
			</div>
			<div class="row feature_inner">
				<div class="col-lg-6 col-md-9">
					<div class="feature_item">
						<img src="img/SmartDustbin.jpg" alt="">
						<h4><a href="/Collector">Collector Tank</a></h4>
					</div>
				</div>
				<div class="col-lg-6 col-md-9">
					<div class="feature_item">
						<img src="img/SmartDustbin.jpg" alt="">
						<h4><a href="/Supplier">Supplier Tank</a></h4>
					</div>
				</div>
				<!--==<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="img/SmartDustbin.jpg" alt="">
						<h4><a href="Dustbin3.html">Dustbin 3</a></h4>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="img/SmartDustbin.jpg" alt="">
						<h4><a href="Dustbin4.html">Dustbin 4</a></h4>					</div>
				</div>===-->
			</div>
		</div>
	</section>
	<!--================ End Features Area =================-->


	<!--================ Start Testimonial Area =================-->
	<div class="testimonial_area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="main_title">
						<h2>Developrs</h2>
						<p>Developed during Hack in the North organised at IIIT Allahabad</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="testi_slider owl-carousel">
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="img/user.png" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Prasoon Maheshwari</h4>
									<p>IEC2017502</p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="img/user.png" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Yash Agarwal</h4>
									<p>IEC2017037 </p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="img/user.png" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Pulkit Goel</h4>
									<p>IEC2017019 </p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="img/user.png" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Mohit Jain</h4>
									<p>IEC2017505 </p>
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
			</div>
		</div>
	</div>
	<!--================ End Testimonial Area =================-->

	<!--================Footer Area =================-->
	<footer class="footer_area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="footer_top flex-column">
						<div class="footer_logo">
							<h4>Water Management System</h4>
						</div>
						<div class="footer_social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row footer_bottom justify-content-center">
				<p class="col-lg-8 col-sm-12 footer-text">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
			</div>
		</div>
	</footer>
	<!--================End Footer Area =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
	<script src="vendors/isotope/isotope-min.js"></script>
	<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/mail-script.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/theme.js"></script>
</body>

</html>
